<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
  // Nếu sử dụng jQuery
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>


<body>
  <script>
    class News {
      constructor(id, title, content, image, created_at) {
        this.id = id;
        this.title = title;
        this.content = content;
        this.image = image;
        this.created_at = created_at;
      }
    }
  </script>
  <script>
    $.ajax({
      url: "http://localhost:8088/news",
      method: "GET",
      dataType: "json",
      success: function (data) {
        console.log(data);
      },
      error: function (xhr, status, error) {
        console.log(error);
      }
    });
  </script>
</body>

</html>