<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
<div id="content"></div>
<script>
    $.ajax({
      url: "http://localhost:8088/news/getNewsByID/1",
      method: "GET",
      dataType: "json",
      success: function (data) {
        var container = document.getElementById("content");
        console.log(data);
        var news = {
            news_author: data.news_author,
            news_describe: data.news_describe,
            news_id: data.news_id,
            news_images: data.news_images,
            news_submitdate: data.news_submitdate,
            news_title: data.news_title,
            news_detailContent: data.news_detailContent,
          }
         container.innerHTML = news.news_detailContent;
      },
      error: function (xhr, status, error) {
        console.log(error);
      }
    });
  </script>
</body>

</html>